@import "../../styles/utils/alignment";

.topbar{
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;

  .topbarWrapper{
    height: 100%;
    padding: 0 20px;
    @include alignment(flex, space-between, center);

    .topLeft{
      .logo{
        font-weight: bolder;
        font-size: 24px;
      }
    }

    .topRight{
      @include alignment(flex, default, center);
      .topbarItem{
        position: relative;
        margin-left: 15px;
        color: #555;
        svg{
          @include alignment(flex);
        }
        .topIconBag{
          @include alignment(flex, center, center);
          position: absolute;
          top: -5px;
          right: -5px;
          font-size: 10px;
          background-color: red;
          width: 20px;
          height: 20px;
          border-radius: 20px;
          color: white;
          font-weight: bolder;
        }
        .topAvatar{
          height: 35px;
          width: 35px;
          object-fit: cover;
          border-radius: 50px;
        }
      }
    }
  }
}